sphinx < 1.8

-e .

numpy < 1.15
matplotlib < 2.3
pandas < 0.24
attrs < 17.5
cython < 0.29
tables < 3.5
scipy < 1.2
scikit-learn < 0.20
h5py < 2.8
h5py-cache < 1.1
tqdm < 4.24
numba < 0.39
ansimarkup < 1.5
